:root {
    --bg-dark: #1A1A1A;
    --panel-bg: #222222;
    --accent-primary: #00FFFF; 
    --accent-secondary: #00A3A3;
    --text-color: #E0E0E0;
    --border-strong: #444444;
    --online-green: #00FF00;
}

body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace; 
    background-color: var(--bg-dark);
    height: 100vh;
    width: 100vw;
    color: var(--text-color);
    overflow: hidden; 
}

* { 
    box-sizing: border-box; 
    -webkit-tap-highlight-color: transparent;
    border-radius: 0 !important; 
}

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

.hidden { display: none !important; }